# LOGGER
LOG_LEVEL=0

# HTTP
HTTP_HOST=0.0.0.0
HTTP_PORT=8080

# POSTGRE
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5432
POSTGRES_DB=authhub_db
POSTGRES_USER=eventflow
POSTGRES_PASSWORD=eventflow_password
POSTGRES_SSLMODE=disable

# LIQUIBASE
LIQUIBASE_COMMAND_CHANGELOG_FILE=changelog.yml

# JWT
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
JWT_ISSUER=authhub
JWT_AUDIENCE=eventflow
JWT_ACCESS_TTL_MINUTES=15
JWT_REFRESH_TTL_HOURS=720